DATABASE_URL=
MINIO_ACCESS_KEY=
MINIO_BUCKET=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_SECRET_KEY=
NEXT_PUBLIC_ENV=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_SANITY_API_VERSION=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_STUDIO_URL=
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SERVER_TIMEZONE=
NEXT_PUBLIC_SITE_URL=
NIXPACKS_NODE_VERSION=
NODE_ENV=
PRISMA_CLI_QUERY_ENGINE_TYPE=
RESEND_API_KEY=
RESEND_EMAIL=
RESEND_RECEIVER_EMAIL=
RESEND_SENDER_NAME=
SANITY_API_READ_TOKEN=
SENTRY_AUTH_TOKEN=
SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=