@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-weight-inherit: inherit;

  --font-sans: var(--font-inter), sans-serif;

  --color-green-40: #50b3701a;
  --color-green-50: #e9fcf3;
  --color-green-100: #d3f8e7;
  --color-green-200: #a7f1ce;
  --color-green-300: #7beab6;
  --color-green-400: #4fe39e;
  --color-green-500: #1db870;
  --color-green-600: #1cb06b;
  --color-green-700: #158450;
  --color-green-800: #0e5835;
  --color-green-900: #072c1b;
  --color-green-901: #0dd64e;
  --color-green-902: #50b370;

  --color-red-50: #fce9ed;
  --color-red-100: #f8d3db;
  --color-red-200: #f2a6b8;
  --color-red-300: #eb7a94;
  --color-red-400: #e44e71;
  --color-red-500: #d4204a;
  --color-red-600: #b11b3e;
  --color-red-700: #85142e;
  --color-red-800: #590d1f;
  --color-red-900: #2c070f;

  --color-blue-50: #e9eefc;
  --color-blue-100: #d2ddf9;
  --color-blue-200: #a6bbf2;
  --color-blue-300: #799aec;
  --color-blue-400: #4d78e5;
  --color-blue-500: #2056df;
  --color-blue-600: #1a45b2;
  --color-blue-700: #133486;
  --color-blue-800: #0d2259;
  --color-blue-900: #06112d;

  --color-yellow-25: #fefbe9;
  --color-yellow-50: #fdf6d3;
  --color-yellow-100: #fbeea9;
  --color-yellow-200: #fae88b;
  --color-yellow-300: #f8e266;
  --color-yellow-400: #f8dd49;
  --color-yellow-500: #f7d913;
  --color-yellow-600: #d7bc12;
  --color-yellow-700: #a9950b;
  --color-yellow-800: #7c6c06;
  --color-yellow-900: #605204;
  --color-yellow-910: #fea500;

  --color-orange-50: #fdf2e8;
  --color-orange-100: #fbe4d0;
  --color-orange-200: #f7c9a1;
  --color-orange-300: #f3ae72;
  --color-orange-400: #ee9344;
  --color-orange-500: #ed8a33;
  --color-orange-600: #bb6011;
  --color-orange-700: #8d480c;
  --color-orange-800: #5e3008;
  --color-orange-900: #2f1804;

  --color-cyan-50: #ade0ff;
  --color-cyan-100: #9bd9ff;
  --color-cyan-200: #89d3ff;
  --color-cyan-300: #76ccff;
  --color-cyan-400: #61c5ff;
  --color-cyan-500: #48beff;
  --color-cyan-600: #3da5de;
  --color-cyan-700: #338cbe;
  --color-cyan-800: #29759e;
  --color-cyan-900: #1f5e80;

  --color-black-50: #8d9297;
  --color-black-100: #767c82;
  --color-black-200: #5f666d;
  --color-black-300: #495059;
  --color-black-400: #323a44;
  --color-black-500: #1b242f;
  --color-black-600: #161d26;
  --color-black-700: #131921;
  --color-black-800: #10161c;
  --color-black-900: #0e1218;

  --color-grey-50: #f9f8f8;
  --color-grey-100: #ededed;
  --color-grey-200: #d5d4d3;
  --color-grey-300: #b4b3b1;
  --color-grey-400: #9b9997;
  --color-grey-500: #8b8987;
  --color-grey-600: #686664;
  --color-grey-700: #4e4d4b;
  --color-grey-800: #343332;
  --color-grey-900: #1a1a19;

  --color-primary-50: #8d9297;
  --color-primary-100: #767c82;
  --color-primary-200: #5f666d;
  --color-primary-300: #495059;
  --color-primary-400: #323a44;
  --color-primary-500: #1b242f;
  --color-primary-600: #161d26;
  --color-primary-700: #131921;
  --color-primary-800: #10161c;
  --color-primary-900: #0e1218;

  --color-secondary-25: #fefbe9;
  --color-secondary-50: #fdf6d3;
  --color-secondary-100: #fbeea9;
  --color-secondary-200: #fae88b;
  --color-secondary-300: #f8e266;
  --color-secondary-400: #f8dd49;
  --color-secondary-500: #f7d913;
  --color-secondary-600: #d7bc12;
  --color-secondary-700: #a9950b;
  --color-secondary-800: #7c6c06;
  --color-secondary-900: #605204;
  --color-secondary-910: #fea500;

  --text-h1: 48px;
  --text-h2: 30px;
  --text-h3: 24px;
  --text-h4: 20px;
  --text-p: 16px;
  --text-list: 16px;
  --text-lead: 20px;
  --text-large: 18px;
  --text-body: 14px;
  --text-body-semibold: 14px;
  --text-small: 14px;
  --text-subtle: 12px;

  --leading-h1: 62.4px;
  --leading-h2: 39px;
  --leading-h3: 31.2px;
  --leading-h4: 26px;
  --leading-p: 20.8px;
  --leading-list: 20.8px;
  --leading-lead: 26px;
  --leading-large: 23.4px;
  --leading-md: 20.8px;
  --leading-ms: 18.2px;
  --leading-xs: 15.6px;
  --leading-body: 18.2px;
  --leading-body-semibold: 18.2px;
  --leading-small: 18.2px;
  --leading-subtle: 15.6px;

  --breakpoint-xxs: 340px;
  --breakpoint-xs: 450px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-nav: 1100px;
  --breakpoint-xl: 1240px;
  --breakpoint-2xl: 1440px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-accordion-down-slow: accordion-down 0.7s ease-out;
  --animate-accordion-up-slow: accordion-up 0.7s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --radius: 0.5rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.004 285.824);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.004 285.824);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.004 285.824);
  --primary: oklch(0.21 0.006 285.884);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.968 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.884);
  --muted: oklch(0.968 0.001 286.375);
  --muted-foreground: oklch(0.552 0.014 285.942);
  --accent: oklch(0.968 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.884);
  --destructive: oklch(0.637 0.208 25.326);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.141 0.004 285.824);
  --chart-1: oklch(0.677 0.157 35.19);
  --chart-2: oklch(0.631 0.101 183.491);
  --chart-3: oklch(0.379 0.044 225.539);
  --chart-4: oklch(0.834 0.119 88.146);
  --chart-5: oklch(0.783 0.126 58.749);
}

.dark {
  --background: oklch(0.141 0.004 285.824);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.004 285.824);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.004 285.824);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.884);
  --secondary: oklch(0.274 0.005 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.005 286.033);
  --muted-foreground: oklch(0.712 0.013 286.068);
  --accent: oklch(0.274 0.005 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.133 25.721);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.274 0.005 286.033);
  --input: oklch(0.274 0.005 286.033);
  --ring: oklch(0.871 0.005 286.285);
  --chart-1: oklch(0.529 0.193 262.129);
  --chart-2: oklch(0.698 0.134 165.463);
  --chart-3: oklch(0.723 0.15 60.631);
  --chart-4: oklch(0.619 0.204 312.728);
  --chart-5: oklch(0.612 0.209 6.386);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

body {
  font-family: var(--font-sans);
}

.AccordionContent[data-state='open'] {
  animation: slideDown 1000ms ease-out;
}

.AccordionContent[data-state='closed'] {
  animation: slideUp 1000ms ease-out;
}

@utility scrollbar-hide {
  -ms-overflow-style: none; /* IE and old Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

@utility progress-step-animation {
  animation: progress-step-fill var(--progress-step-duration, 2s) linear
    forwards;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
    transform: scaleY(1);
  }
}

@keyframes progress-step-fill {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
